{% extends 'base.html.twig' %}

{% block content %}
    {{ parent() }}
    <div id="welcome">
        <h1>Welcome to Troy</h1>
    </div>

    <div id="welcome">
        <img src="{{ giphy('welcome') }}"/>
    </div>
{% endblock %}
